@inject GameService GameService
@inject MonsterService MonsterService
@implements IDisposable

<div class="row m-3 battle-background" style="@GameService.BattleBackground">
    <StageDisplay />
    <Battle />
</div>

@code {

    protected override void OnInitialized()
    {
        GameService.OnChange += StateHasChanged;
        MonsterService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        GameService.OnChange -= StateHasChanged;
        MonsterService.OnChange -= StateHasChanged;
    }
}
