@inject GameService GameService
@inject BattleService BattleService
@implements IDisposable

<div class="row m-2">
    <div class="col">
        <PlayerCard />
    </div>
    <div class="col text-white">
        <h1>@BattleService.Outcome</h1>
    </div>
    <div class="col m-2">
        <MonsterCard />
        @if (GameService.MonsterCount == 15)
        {
            <h3>Time remaining:</h3>
            <BossTimer />

        }
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        GameService.OnChange += StateHasChanged;
        BattleService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        GameService.OnChange -= StateHasChanged;
        BattleService.OnChange -= StateHasChanged;
    }
}
