@inject BattleService BattleService

<div class="progress position-relative text-black m-2" style="height: 30px">
    <div class="progress-bar bg-danger"
         role="progressbar"
         style="@BattleService.BossTimerString"></div>
    <h5 class="justify-content-center d-flex position-absolute w-100">
        @BattleService.RemainingBossTime sec
    </h5>
</div>S

@code {
    protected override void OnInitialized()
    {
        BattleService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        BattleService.OnChange -= StateHasChanged;
    }
}
