@inject MonsterService MonsterService
@inject GameService Gameservice
@implements IDisposable

@if (MonsterService.IsMonsterVisible)
{
    <div class="col text-white">
        <h3>Level:@Gameservice.FloorCount</h3>
        <img src="@MonsterService.MonsterAvatar"
             alt="Monster"
             class="picture-size m-2" />
        <MonsterHPBar />
    </div>
}

@code {
    protected override void OnInitialized()
    {
        MonsterService.OnChange += StateHasChanged;
        Gameservice.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        MonsterService.OnChange -= StateHasChanged;
        Gameservice.OnChange -= StateHasChanged;
    }
}
<style>
    .picture-size {
        width: 100px;
        height: 100px;
    }
</style>