@inject GameService GameService
@implements IDisposable

<div class="row m-2">
    <StageProgress Max="100"
                   Current="GameService.FloorCount"
                   Name="Floor"
                   ProgressWidth="@GameService.FloorCountString" />
    @if (GameService.MonsterCount < 15)
    {
        <StageProgress Max="15"
                   Current="GameService.MonsterCount"
                   Name="Monster"
                   ProgressWidth="@GameService.MonsterCountString" />
    }
    @if (GameService.MonsterCount == 15)
    {
        <StageProgress Max="15"
                   Current="GameService.MonsterCount"
                   ProgressWidth="@GameService.MonsterCountString"
                   IsBoss="true"
                   FloorBossText="@GameService.BossText" />
    }
</div>

@code {
    protected override void OnInitialized()
    {
        GameService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        GameService.OnChange -= StateHasChanged;
    }
}
