@page "/"

<DeveloperConsole />
<BattleScreen />
<div class="row">
    <div class="col">
        <PlayerEquipment />
    </div>
    <div class="col">
        <ItemLog />
    </div>
</div>
<Shops />

@code {

}

<style>
    .attack-button {
        width: 100px;
        height: 100px;
    }

    .battle-background {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>