@page "/"

<DeveloperConsole />
<StageDisplay />
<Battle />
<div class="row m-2">
    <div class="col m-2">
        <button class="btn btn-dark">
            <img src="/assets/UI/attack-button.png"
                 alt="attack button"
                 class="attack-button" />
        </button>
    </div>
</div>

<style>
.attack-button {
        width: 100px;
        height: 100px;
    }
</style>