@inject GameService GameService
@inject PlayerService PlayerService

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <h3>Time Controls:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary m-2">
                    1x
                </button>
                <button class="btn btn-secondary m-2">
                    2x
                </button>
                <button class="btn btn-secondary m-2">
                    4x
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <h3>Total Monster Count:</h3>
        <h3>@GameService.TotalMonsterCount</h3>
    </div>
    <div class="col">
        <button class="btn btn-primary" @onclick="GameService.AddFloor">Add floor</button>
        <button class="btn btn-primary" @onclick="GameService.AddMonster">Add monster</button>
        <button class="btn btn-primary" @onclick="GameService.ResetMonster">Reset monster</button>
        <button class="btn btn-primary" @onclick="PlayerService.CalculateXP">Add XP</button>
    </div>
</div>

@code {

}
