@inject GameService GameService
@inject BattleService BattleService

@implements IDisposable

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <h3>Time Controls:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary m-2">
                    1x
                </button>
                <button class="btn btn-secondary m-2">
                    2x
                </button>
                <button class="btn btn-secondary m-2">
                    4x
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <h3>Total Monster Count:</h3>
        <h3>@GameService.TotalMonsterCount</h3>
    </div>
    <div class="col">
        <button class="btn btn-primary" @onclick="BattleService.StartBattle">Start Battle</button>
        <button class="btn btn-primary" @onclick="BattleService.StopTimer">Stop Battle</button>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        GameService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        GameService.OnChange -= StateHasChanged;
    }
}
